{
  "swagger": "2.0",
  "info": {
    "version": "1.68.0",
    "title": "easybill REST API",
    "description": "\nThe first version of the easybill REST API. [CHANGELOG](https://api.easybill.de/rest/v1/CHANGELOG.md)\n\n## Authentication\n\nYou can choose between two available methods: `Basic Auth` or `Bearer Token`.\n\nIn each HTTP request, one of the following HTTP headers is required:\n\n```\n# Basic Auth\nAuthorization: Basic base64_encode('<email>:<api_key>')\n# Bearer Token\nAuthorization: Bearer <api_key>\n```\n\n## Limitations\n\n### Request Limit\n\n* PLUS: 10 requests per minute\n* BUSINESS: 60 requests per minute\n\nIf the limit is exceeded, you will receive the HTTP error: `429 Too Many Requests`\n\n### Result Limit\n\nAll result lists are limited to 100 by default. This limit can be increased by the query parameter `limit` to a maximum of 1000.\n\n## Query filter\n\nMany list resources can be filtered. In `/documents` you can filter e.g. by number with `/documents?number=111028654`. If you want to filter multiple numbers, you can either enter them separated by commas `/documents?number=111028654,222006895` or as an array `/documents?number[]=111028654&number[]=222006895`.\n\n**Warning**: The maximum size of an HTTP request line in bytes is 4094. If this limit is exceeded, you will receive the HTTP error: `414 Request-URI Too Large`\n\n### Escape commas in query\n\nYou can escape commans in query `name=Patrick\\, Peter` if you submit the header `X-Easybill-Escape: true` in your request.\n\n## Property login_id\n\nThis is the login of your admin or employee account.\n\n## Date and Date-Time format\nPlease use the timezone `Europe/Berlin`.\n* **date** = *Y-m-d* = `2016-12-31`\n* **date-time** = *Y-m-d H:i:s* = `2016-12-31 03:13:37`\n\nDate or datetime can be `null` because the attributes have been added later and the entry is older."
  },
  "tags": [
    {
      "name": "customer",
      "description": "Everything about your customers"
    },
    {
      "name": "customer group",
      "description": "Groups for customer"
    },
    {
      "name": "discount",
      "description": "Discounts for positions and position groups"
    },
    {
      "name": "document",
      "description": "Invoices, offers, etc."
    },
    {
      "name": "document payment"
    },
    {
      "name": "position"
    },
    {
      "name": "position group"
    },
    {
      "name": "project"
    },
    {
      "name": "task"
    },
    {
      "name": "text template"
    },
    {
      "name": "time tracking"
    },
    {
      "name": "sepa payment"
    },
    {
      "name": "serial number"
    },
    {
      "name": "stock"
    },
    {
      "name": "webhook"
    },
    {
      "name": "pdf templates",
      "description": "PDF Templates for documents"
    },
    {
      "name": "logins",
      "description": "Informations regarding the logins / employees"
    }
  ],
  "host": "api.easybill.de",
  "basePath": "/rest/v1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Please use the following Format: **Bearer <api_key>**"
    },
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "Bearer": []
    },
    {
      "basicAuth": []
    }
  ],
  "parameters": {
    "LIMIT": {
      "in": "query",
      "name": "limit",
      "description": "Limited the result. Default is 100. Maximum can be 1000.",
      "type": "integer",
      "required": false,
      "minimum": 1,
      "maximum": 1000
    },
    "PAGE": {
      "in": "query",
      "name": "page",
      "description": "Set current Page. Default is 1.",
      "type": "integer",
      "required": false,
      "minimum": 1
    }
  },
  "paths": {
    "/stocks": {
      "get": {
        "summary": "Fetch a list of stock entries for positions",
        "tags": [
          "stock"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "position_id",
            "description": "Filter stock entries by position id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "document_id",
            "description": "Filter stock entries by document id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Stocks"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "summary": "Create a stock entry for a position",
        "tags": [
          "stock"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Stock"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Stock"
            }
          },
          "400": {
            "description": "Invalid position_id or stock_count"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/stocks/{id}": {
      "get": {
        "summary": "Fetch an stock entry for a position",
        "tags": [
          "stock"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the stock entry that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Stock"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/serial-numbers": {
      "get": {
        "summary": "Fetch a list of serial numbers for positions",
        "tags": [
          "serial number"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "position_id",
            "description": "Filter serial numbers by position id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "document_id",
            "description": "Filter serial numbers by document id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "in_use",
            "description": "Filter serial numbers by usage.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SerialNumbers"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "summary": "Create s serial number for a position",
        "tags": [
          "serial number"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SerialNumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SerialNumber"
            }
          },
          "400": {
            "description": "Invalid PositionID"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/serial-numbers/{id}": {
      "get": {
        "summary": "Fetch a serial number for a position",
        "tags": [
          "serial number"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the serial number that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SerialNumber"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "summary": "Delete a serial number for a position",
        "tags": [
          "serial number"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the serial number that needs to be deleted",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Serial number in use. Operation failed."
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/logins": {
      "get": {
        "tags": [
          "logins"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Logins"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/logins/{id}": {
      "get": {
        "tags": [
          "logins"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the login that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Fetch customers list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "group_id",
            "description": "Filter customers by group_id. You can add multiple group ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "additional_group_id",
            "description": "Filter customers by additional_group_id. You can add multiple group ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "number",
            "description": "Filter customers by number. You can add multiple numbers separate by comma like no,no,no.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "Filter customers by country. You can add multiple countries separate by comma like DE,PL,FR.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "zip_code",
            "description": "Filter customers by zip_code. You can add multiple zip codes separate by comma like zip,zip,zip.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "emails",
            "description": "Filter customers by emails. You can add multiple emails separate by comma like mail,mail,mail.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "first_name",
            "description": "Filter customers by first_name. You can add multiple names separate by comma like name,name,name.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "last_name",
            "description": "Filter customers by first_name. You can add multiple names separate by comma like name,name,name.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "company_name",
            "description": "Filter customers by first_name. You can add multiple names separate by comma like name,name,name.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "created_at",
            "description": "Filter customers by created_at. You can filter one date with created_at=2014-12-10 or between like 2015-01-01,2015-12-31.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Customers"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Create customer",
        "description": "",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "400": {
            "description": "Invalid Customer"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Fetch customer",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "Update Customer",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer that needs to be updated",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "400": {
            "description": "Invalid Customer"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "customer"
        ],
        "summary": "Delete customer",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer that needs to be deleted",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customers/{customerId}/contacts": {
      "get": {
        "tags": [
          "contact"
        ],
        "summary": "Fetch customer contact list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "path",
            "name": "customerId",
            "description": "ID of customer that needs to be fetched",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contacts"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "contact"
        ],
        "summary": "Create new contact",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "ID of customer",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "Invalid contact"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customers/{customerId}/contacts/{id}": {
      "get": {
        "tags": [
          "contact"
        ],
        "summary": "Fetch contact",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "ID of customer",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "contact"
        ],
        "summary": "Update Contact",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "ID of customer",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "400": {
            "description": "Invalid contact"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "contact"
        ],
        "summary": "Delete contact",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "ID of customer",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/discounts/position": {
      "get": {
        "tags": [
          "discount"
        ],
        "summary": "Fetch list of position discounts",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "Filter discounts by customer_id. You can add multiple customer_ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPositions"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "discount"
        ],
        "summary": "Create a new position discount",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscountPosition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPosition"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/discounts/position/{id}": {
      "get": {
        "tags": [
          "discount"
        ],
        "summary": "Fetch specified position discount by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPosition"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "discount"
        ],
        "summary": "Update a position discount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the to be soon updated discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiscountPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPosition"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "discount"
        ],
        "summary": "Delete the specified position discount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the to be soon deleted discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/discounts/position-group": {
      "get": {
        "tags": [
          "discount"
        ],
        "summary": "Fetch list of position-group discounts",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "Filter discounts by customer_id. You can add multiple customer_ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroups"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "discount"
        ],
        "summary": "Create a new position-group discount",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroup"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/discounts/position-group/{id}": {
      "get": {
        "tags": [
          "discount"
        ],
        "summary": "Fetch specified position-group discount by id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroup"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "discount"
        ],
        "summary": "Update a position-group discount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the to be soon updated discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DiscountPositionGroup"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "discount"
        ],
        "summary": "Delete the specified position-group discount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the to be soon deleted discount",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Fetch documents list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter documents by type. Multiple typs seperate with , like type=INVOICE,CREDIT.",
            "required": false,
            "type": "string",
            "enum": [
              "INVOICE",
              "RECURRING",
              "CREDIT",
              "OFFER",
              "REMINDER",
              "DUNNING",
              "STORNO",
              "STORNO_CREDIT",
              "DELIVERY",
              "PDF",
              "CHARGE",
              "CHARGE_CONFIRM",
              "LETTER",
              "ORDER",
              "PROFORMA_INVOICE",
              "STORNO_PROFORMA_INVOICE"
            ]
          },
          {
            "in": "query",
            "name": "is_draft",
            "description": "Filter documents by draft flag.",
            "required": false,
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "in": "query",
            "name": "is_archive",
            "description": "Filter documents by archive flag.",
            "required": false,
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "Filter documents by customer_id. You can add multiple customer_is separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "project_id",
            "description": "Filter documents by project_id. You can add multiple project_id separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "document_date",
            "description": "Filter documents by document_date. You can filter one date with document_date=2014-12-10 or between like 2015-01-01,2015-12-31.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "paid_at",
            "description": "Filter documents by paid_at. You can filter one date with paid_at=2014-12-10 or between like 2015-01-01,2015-12-31. With paid_at=null you get all unpaid documents.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "title",
            "description": "Filter documents by title.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "number",
            "description": "Filter documents by number.",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "cancel_id",
            "description": "Filter documents by cancel_id. You can add multiple ids separate by comma like id,id,id. With cancel_id=null you get all not canceled documents.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fulfillment_country",
            "description": "Filter documents by fulfillment_country.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "vat_country",
            "description": "Filter documents by vat_country.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "shipping_country",
            "description": "Filter documents by shipping_country.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter documents by status. Keep in mind that not every document type has a status.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Documents"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Create document",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Fetch document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "document"
        ],
        "summary": "Update document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "refresh_customer_data",
            "description": "Forces refreshing of the customer data.",
            "required": false,
            "type": "boolean",
            "enum": [
              "false",
              "true"
            ]
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Invalid Document"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "document"
        ],
        "summary": "Delete document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}/done": {
      "put": {
        "tags": [
          "document"
        ],
        "summary": "To complete a document.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}/cancel": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Cancel document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}/send/{type}": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Send document",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string",
            "enum": [
              "email",
              "fax",
              "post"
            ]
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostBoxRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}/pdf": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Fetch pdf document",
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/documents/{id}/jpg": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Download a document as an jpeg-image",
        "produces": [
          "image/jpeg"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "The page of the document where the image should start.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The page of the document where the image should end.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID of document",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customer-groups": {
      "get": {
        "tags": [
          "customer group"
        ],
        "summary": "Fetch customer group list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerGroups"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "customer group"
        ],
        "summary": "Create customer group",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/customer-groups/{id}": {
      "get": {
        "tags": [
          "customer group"
        ],
        "summary": "Fetch customer group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer group",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "customer group"
        ],
        "summary": "Update customer group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer goup",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CustomerGroup"
            }
          },
          "400": {
            "description": "Invalid customer group"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "customer group"
        ],
        "summary": "Delete customer group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of customer group",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "Fetch tasks list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Tasks"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "task"
        ],
        "summary": "Create task",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "Fetch task",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of task",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "task"
        ],
        "summary": "Update task",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of task",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Invalid task"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "task"
        ],
        "summary": "Delete task",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of task",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Fetch projects list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "customer_id",
            "description": "Filter projects by customer_id. You can add multiple ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter projects by status.",
            "required": false,
            "type": "string",
            "enum": [
              "DONE",
              "OPEN",
              "CANCEL"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Projects"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "project"
        ],
        "summary": "Create project",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Fetch project",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of project",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "project"
        ],
        "summary": "Update project",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of project",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "400": {
            "description": "Invalid project"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "project"
        ],
        "summary": "Delete project",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of project",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "tags": [
          "position"
        ],
        "summary": "Fetch positions list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter positions by type.",
            "required": false,
            "type": "string",
            "enum": [
              "TEXT",
              "PRODUCT",
              "SERVICE"
            ]
          },
          {
            "in": "query",
            "name": "number",
            "description": "Filter positions by number. You can add multiple numbers separate by comma like no,no,no.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Positions"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "position"
        ],
        "summary": "Create position",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Position"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Position"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/positions/{id}": {
      "get": {
        "tags": [
          "position"
        ],
        "summary": "Fetch position",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Position"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "position"
        ],
        "summary": "Update position",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Position"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Position"
            }
          },
          "400": {
            "description": "Invalid position"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "position"
        ],
        "summary": "Delete position",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/position-groups": {
      "get": {
        "tags": [
          "position group"
        ],
        "summary": "Fetch position group list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PositionGroups"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "position group"
        ],
        "summary": "Create position group",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PositionGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PositionGroup"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/position-groups/{id}": {
      "get": {
        "tags": [
          "position group"
        ],
        "summary": "Fetch position group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position group",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PositionGroup"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "position group"
        ],
        "summary": "Update position group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position goup",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PositionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PositionGroup"
            }
          },
          "400": {
            "description": "Invalid position group"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "position group"
        ],
        "summary": "Delete position group",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of position group",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/time-trackings": {
      "get": {
        "tags": [
          "time tracking"
        ],
        "summary": "Fetch time trackings list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "login_id",
            "description": "Filter time-tracking by login_id. You can add multiple ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "project_id",
            "description": "Filter time-tracking by project_id. You can add multiple ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TimeTrackings"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "time tracking"
        ],
        "summary": "Create time tracking",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTracking"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TimeTracking"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/time-trackings/{id}": {
      "get": {
        "tags": [
          "time tracking"
        ],
        "summary": "Fetch time tracking",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of time tracking",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TimeTracking"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "time tracking"
        ],
        "summary": "Update time tracking",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of time tracking",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTracking"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TimeTracking"
            }
          },
          "400": {
            "description": "Invalid time tracking"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "time tracking"
        ],
        "summary": "Delete time tracking",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of time tracking",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/text-templates": {
      "get": {
        "tags": [
          "text template"
        ],
        "summary": "Fetch text templates list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TextTemplates"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "text template"
        ],
        "summary": "Create text template",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextTemplate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TextTemplate"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/text-templates/{id}": {
      "get": {
        "tags": [
          "text template"
        ],
        "summary": "Fetch text template",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of text template",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TextTemplate"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "text template"
        ],
        "summary": "Update text template",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of text template",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TextTemplate"
            }
          },
          "400": {
            "description": "Invalid text template"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "text template"
        ],
        "summary": "Delete text template",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of text template",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/attachments": {
      "get": {
        "tags": [
          "attachment"
        ],
        "summary": "Fetch attachments list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Attachments"
            }
          }
        }
      },
      "post": {
        "tags": [
          "attachment"
        ],
        "summary": "Create attachment",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/attachments/{id}": {
      "get": {
        "tags": [
          "attachment"
        ],
        "summary": "Fetch attachment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "attachment"
        ],
        "summary": "Update attachment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "400": {
            "description": "Invalid attachment"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "attachment"
        ],
        "summary": "Delete attachment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/attachments/{id}/content": {
      "get": {
        "tags": [
          "attachment"
        ],
        "summary": "Fetch attachment content",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of attachment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/document-payments": {
      "get": {
        "tags": [
          "document payment"
        ],
        "summary": "Fetch document payments list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "document_id",
            "description": "Filter payments by document_id. You can add multiple ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "payment_at",
            "description": "Filter payments by payment_at. You can filter one date with payment_at=2014-12-10 or between like 2015-01-01,2015-12-31.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "reference",
            "description": "Filter payments by reference. You can add multiple references separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DocumentPayments"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "document payment"
        ],
        "summary": "Create document payment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPayment"
            }
          },
          {
            "in": "query",
            "name": "paid",
            "description": "Mark document as paid when amount less then payment amount.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DocumentPayment"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/document-payments/{id}": {
      "get": {
        "tags": [
          "document payment"
        ],
        "summary": "Fetch document payment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document payment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DocumentPayment"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "document payment"
        ],
        "summary": "Delete document payment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of document payment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/post-boxes": {
      "get": {
        "tags": [
          "post box"
        ],
        "summary": "Fetch post box list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter post boxes by type. Multiple typs seperate with , like type=EMAIL,FAX.",
            "required": false,
            "type": "string",
            "enum": [
              "EMAIL",
              "FAX",
              "POST"
            ]
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter post boxes by status.",
            "required": false,
            "type": "string",
            "enum": [
              "WAITING",
              "PREPARE",
              "ERROR",
              "OK",
              "PROCESSING"
            ]
          },
          {
            "in": "query",
            "name": "document_id",
            "description": "Filter post boxes by document_id. You can add multiple document ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PostBoxes"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/post-boxes/{id}": {
      "get": {
        "tags": [
          "post box"
        ],
        "summary": "Fetch post box",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of post box",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PostBox"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "post box"
        ],
        "summary": "Delete post box",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of post box",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/sepa-payments": {
      "get": {
        "tags": [
          "sepa payment"
        ],
        "summary": "Fetch SEPA payments list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          },
          {
            "in": "query",
            "name": "document_id",
            "description": "Filter SEPA payment by document_id. You can add multiple ids separate by comma like id,id,id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SEPAPayments"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "sepa payment"
        ],
        "summary": "Create SEPA payment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SEPAPayment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SEPAPayment"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/sepa-payments/{id}": {
      "get": {
        "tags": [
          "sepa payment"
        ],
        "summary": "Fetch SEPA payment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of SEPA payment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SEPAPayment"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "sepa payment"
        ],
        "summary": "Update SEPA payment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of SEPA payment",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SEPAPayment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/SEPAPayment"
            }
          },
          "400": {
            "description": "Invalid SEPA payment"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "sepa payment"
        ],
        "summary": "Delete SEPA payment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of SPEA payment",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "Fetch WebHooks list",
        "parameters": [
          {
            "$ref": "#/parameters/LIMIT"
          },
          {
            "$ref": "#/parameters/PAGE"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WebHooks"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "Create WebHook",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHook"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WebHook"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "webhook"
        ],
        "summary": "Fetch WebHook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of WebHook",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WebHook"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "put": {
        "tags": [
          "webhook"
        ],
        "summary": "Update WebHook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of WebHook",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/WebHook"
            }
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "delete": {
        "tags": [
          "webhook"
        ],
        "summary": "Delete WebHook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of WebHook",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/pdf-templates": {
      "get": {
        "tags": [
          "pdf templates"
        ],
        "summary": "Fetch PDF Templates list",
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PDFTemplates"
            }
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    }
  },
  "definitions": {
    "List": {
      "type": "object",
      "required": [
        "page",
        "pages",
        "limit",
        "total"
      ],
      "properties": {
        "page": {
          "type": "integer",
          "description": "The current page",
          "example": 1
        },
        "pages": {
          "type": "integer",
          "description": "Max possible pages",
          "example": 1
        },
        "limit": {
          "type": "integer",
          "description": "Items limitation. Max 1000",
          "example": 100
        },
        "total": {
          "type": "integer",
          "description": "Total Items",
          "example": 20
        }
      }
    },
    "Customer": {
      "type": "object",
      "required": [
        "last_name",
        "company_name"
      ],
      "properties": {
        "acquire_options": {
          "type": "integer",
          "description": "1 = Empfehlung eines anderen Kunden, 2 = Zeitungsanzeige, 3 = Eigene Akquisition, 4 = Mitarbeiter Akquisition, 5 = Google, 6 = Gelbe Seiten, 7 = Kostenlose Internet Plattform, 8 = Bezahlte Internet Plattform",
          "enum": [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8
          ],
          "x-nullable": true,
          "example": null
        },
        "additional_groups_ids": {
          "type": "array",
          "readOnly": true,
          "example": [],
          "items": {
            "type": "integer",
            "uniqueItems": true
          }
        },
        "bank_account": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "bank_account_owner": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "bank_bic": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "bank_code": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "bank_iban": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "bank_name": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "birth_date": {
          "type": "string",
          "format": "date",
          "x-nullable": true,
          "example": "2016-12-31"
        },
        "cash_allowance": {
          "type": "number",
          "format": "float",
          "x-nullable": true,
          "example": null,
          "minimum": 0,
          "maximum": 100
        },
        "cash_allowance_days": {
          "type": "integer",
          "default": 7,
          "example": 7
        },
        "cash_discount": {
          "type": "number",
          "format": "float",
          "x-nullable": true,
          "example": null
        },
        "cash_discount_type": {
          "type": "string",
          "enum": [
            "PERCENT",
            "AMOUNT"
          ],
          "x-nullable": true,
          "example": null
        },
        "city": {
          "type": "string",
          "x-nullable": true,
          "example": "Kaarst"
        },
        "state": {
          "type": "string",
          "example": "NRW"
        },
        "company_name": {
          "type": "string",
          "example": "easybill GmbH",
          "x-nullable": true
        },
        "country": {
          "type": "string",
          "example": "DE"
        },
        "created_at": {
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "datetime",
          "readOnly": true
        },
        "delivery_title": {
          "type": "string",
          "example": "Dr."
        },
        "delivery_city": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_state": {
          "type": "string",
          "example": "NRW"
        },
        "delivery_company_name": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_country": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_first_name": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_last_name": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_personal": {
          "type": "boolean",
          "example": false
        },
        "delivery_salutation": {
          "type": "integer",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6
          ],
          "default": 0,
          "description": "0 = nothing, 1 = Mr, 2 = Mrs, 3 = Company, 4 = Mr & Mrs, 5 = Married couple, 6 = Family"
        },
        "delivery_street": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_suffix_1": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_suffix_2": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivery_zip_code": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "display_name": {
          "type": "string",
          "readOnly": true
        },
        "emails": {
          "type": "array",
          "items": {
            "type": "string",
            "maxItems": 3,
            "uniqueItems": true
          },
          "example": [
            "max.mustermann@easybill.de"
          ]
        },
        "fax": {
          "type": "string",
          "example": "+49 2154 89701 29",
          "x-nullable": true
        },
        "first_name": {
          "type": "string",
          "example": "Max",
          "x-nullable": true
        },
        "grace_period": {
          "type": "integer",
          "description": "will be replaced by its alias due_in_days.",
          "x-nullable": true,
          "example": null
        },
        "due_in_days": {
          "type": "integer",
          "description": "due date in days",
          "x-nullable": true,
          "example": null
        },
        "group_id": {
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "info_1": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "info_2": {
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "internet": {
          "type": "string",
          "x-nullable": true,
          "example": "https://www.easybill.de"
        },
        "last_name": {
          "type": "string",
          "example": "Mustermann",
          "x-nullable": true
        },
        "login_id": {
          "type": "integer",
          "format": "int64"
        },
        "mobile": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "note": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "number": {
          "type": "string",
          "description": "Automatically generated if empty."
        },
        "payment_options": {
          "type": "integer",
          "enum": [
            1,
            2,
            3,
            5
          ],
          "description": "1 = Stets pünktliche Zahlung, 2 = überwiegend pünktliche Zahlung, 3 = überwiegend verspätete Zahlung, 5 = Grundsätzlich verspätete Zahlung",
          "example": null,
          "x-nullable": true
        },
        "personal": {
          "type": "boolean",
          "example": false,
          "default": false
        },
        "phone_1": {
          "type": "string",
          "example": "+49 2154 89701 20",
          "x-nullable": true
        },
        "phone_2": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "postbox": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "postbox_city": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "postbox_state": {
          "type": "string",
          "example": "NRW"
        },
        "postbox_country": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "postbox_zip_code": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "sale_price_level": {
          "type": "string",
          "example": null,
          "x-nullable": true,
          "enum": [
            "SALEPRICE2",
            "SALEPRICE3",
            "SALEPRICE4",
            "SALEPRICE5",
            "SALEPRICE6",
            "SALEPRICE7",
            "SALEPRICE8",
            "SALEPRICE9",
            "SALEPRICE10"
          ]
        },
        "salutation": {
          "type": "integer",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6
          ],
          "default": 0,
          "description": "0 = nothing, 1 = Mr, 2 = Mrs, 3 = Company, 4 = Mr & Mrs, 5 = Married couple, 6 = Family"
        },
        "sepa_agreement": {
          "type": "string",
          "enum": [
            "BASIC",
            "COR1",
            "COMPANY",
            "NULL"
          ],
          "description": "BASIC = SEPA-Basislastschrift, COR1 = SEPA-Basislastschrift COR1, COMPANY = SEPA-Firmenlastschrift, NULL = Noch kein Mandat erteilt",
          "example": null,
          "x-nullable": true
        },
        "sepa_agreement_date": {
          "type": "string",
          "format": "date",
          "example": null,
          "x-nullable": true
        },
        "sepa_mandate_reference": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "since_date": {
          "type": "string",
          "format": "date",
          "example": null,
          "x-nullable": true
        },
        "street": {
          "type": "string",
          "example": "Düsselstr. 21",
          "x-nullable": true
        },
        "suffix_1": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "suffix_2": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "tax_number": {
          "type": "string",
          "example": null,
          "x-nullable": true
        },
        "court": {
          "type": "string",
          "example": "Berlin",
          "x-nullable": true
        },
        "court_registry_number": {
          "type": "string",
          "example": "HRB XXXXX X",
          "x-nullable": true
        },
        "tax_options": {
          "type": "string",
          "enum": [
            "nStb",
            "nStbUstID",
            "nStbNoneUstID",
            "nStbIm",
            "revc",
            "IG",
            "AL",
            "sStfr",
            "NULL"
          ],
[...]
